<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form name="f" action="login" method="post">
        <table>
            <tr>
                <td>Login</td>
                <td><input type="text" name="username" id="username" class="login"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password" id="password" class="password"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
</body>
</html>